@import "../scss/body/reset";
@import "../scss/body/parrafos";
@import "../scss/body/title";
@import "../scss/body/button";
@import "../scss/body/imagenes";
@import "../scss/body/iconos";
@import "../scss/body/logo";
@import "../scss/body/section";
@import "../scss/body/formulario";
@import "../scss/body/menu";
@import "../scss/body/footer";
@import "../scss/body/variables";

 
  a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
   }

  

