.menuflex{
    display: flex;
    justify-content: center;
    background-color: rgb(233, 243, 255);
    color: black;
    padding: 15px 0;
    border-style: dotted;
    }
    .menu{
      font-size: 30px;
    } 
   