.section-photoPRODUCTOS{
    display: flex;
    justify-content: space-between; 
    background-color: gray;
  }
  .section-photoPRODUCTOS{
    display: grid;
    grid-template-columns: auto  auto auto auto; 
    background-color: gray;
  } 
  .section-enyen  {
    display: grid;
    grid-template-columns: auto ;
  }